@charset "UTF-8";

/* Function
=========================================================== */
@mixin loop-slide(
  $element,
  $item-width: 320,
  $item-height: 320,
  $item-margin: 0,
  $duration: 25,
  $hover-stop: false,
  $sp-mag: 0.5
) {
  /* .loop-slide
  =========================================================== */
  @at-root {
    /* Block
    ───────────────────────────────── */
    #{$element} {
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mq-pc {
        height: rem($item-height);
      }
      @include mq-sp {
        height: vw($item-height * $sp-mag);
      }
    }

    /* Wrapper
    ───────────────────────────────── */
    #{$element}__wrapper {
      display: flex;
      height: inherit;
    }

    /* List
    ───────────────────────────────── */
    #{$element}__list {
      display: flex;
      height: inherit;
      &:not(:first-of-type) {
        @include mq-pc {
          margin-left: rem(-1);
        }
        @include mq-sp {
          margin-left: vw(-1);
        }
      }
      @at-root .-animation & {
        animation-name: infinite-slide;
        animation-timing-function: linear;
        animation-duration: #{$duration}s;
        animation-iteration-count: infinite;
        will-change: transform;
        @include mq-sp {
          animation-duration: #{$duration * $sp-mag}s;
        }
      }
    }

    /* Item
    ───────────────────────────────── */
    #{$element}__item {
      height: inherit;
      @include mq-pc {
        width: rem($item-width);
        margin-right: rem($item-margin);
      }
      @include mq-sp {
        width: vw($item-width * $sp-mag);
        margin-right: vw($item-margin * 2 * $sp-mag);
      }
    }

    /* Image
    ───────────────────────────────── */
    #{$element}__image {
      width: 100%;
      height: auto;
    }

    /* Hover
    ───────────────────────────────── */
    @include mq-pc {
      @if $hover-stop == true {
        #{$element}__item {
          transition: opacity $duration $easing 0s;
        }
        #{$element}:hover {
          #{$element}__list {
            animation-play-state: paused;
          }
          #{$element}__item {
            opacity: 0.8;
          }
          #{$element}__item:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* Keyframes
=========================================================== */
@keyframes infinite-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
